/* Attendence filter */
.attendence-filter-container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    margin: 16px;
    background-color: white;
    border-radius: 30px;
}

.student-staff-buttons-div {
    display: flex;
    justify-content: center;
    gap: 4px;
    background-color: #e2e8ef;
    padding: 8px;
    border-radius: 20px;
    margin-bottom: 12px;
}

.student-staff-buttons-div button {
    background-color: #2f5e8c;
    color: aliceblue ;
    border: none;
    padding: 10px;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    flex: 1;
}

.attendence-filter-container p {
    color: gray;
    font-size: 15px;
    margin-top:6px;
    margin-bottom: 4px;

}

.date-title {
    display: flex;
    align-items: center;
    gap: 2px;
    
}
.date-title svg {
    height: 14px;
    color: gray;
}

.date-input {
    width: 100%;
    box-sizing: border-box;
    background-color: #f4f7fa;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 15px 20px;
    font-size: 17px;
    font-family: Plus Jakarta Sans,system-ui,sans-serif;
}

.class-subject-filter-div {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: Plus Jakarta Sans,system-ui,sans-serif;
    
}

.class-subject-filter {
    flex: 1;
}
  
.class-dropdown,
.subject-dropdown {
    width: 100%;
    background-color: #f4f7fa;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 15px 0px;
    font-size: 17px;
    font-family: Plus Jakarta Sans,system-ui,sans-serif;
    padding-left: 13px;
}   

    
    


.class-subject-input {
    width: 100%;
    background-color: #f4f7fa;
    border: 1px solid rgb(233, 233, 233);
    border-radius: 10px;
    padding: 10px 0px;
    font-family: Plus Jakarta Sans,system-ui,sans-serif;
}

.attendence-students-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 65px;
    margin: 16px;
    background-color: white;
    border-radius: 30px;
    
    justify-content: center;
    align-items: center;
}
.attendence-students-list-demo {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 12px;
    border-radius: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;  
}


.choose-text {
    font-weight: bold;
}

.pick-text {
    color: gray;
    text-align: center;
}