
body {
    margin: 0;
    font-family: arial;
    display: flex;
    flex-direction: column;
    padding-top: 190px;
    padding-bottom: 95px;
    background-color: #e5e7eb;
    
}



p {
  margin: 0;
}



